.ant-select-dropdown-menu-item {
    font-size: 14px !important;
}
.ant-select-selection__rendered {
    margin-left: 13px !important;
}

.ant-select-selection__placeholder {
    right: inherit !important;
}

.error .ant-select-selection {
    border: 1px solid $error-color;
}