.email-page {
    .box-border {
        background-color: #FFF;
        height: 564px;
        position: relative;
    }
    .pull-left {
        .box-border {
            width: 334px;
            padding: 16px 0px;
        }
        .empty {
            margin-top: 130px;
        }
    }
    // 搜索框
    .search {
        height: 36px;
        font-size:14px;
        color: #868686;
        padding: 4px 15px;
        border-radius: 15px;
    }
    .ant-input-affix-wrapper {
        .ant-input:not(:last-child) {
            padding-right: 32px;
        }
        .ant-input-suffix {
            right: 15px;
        }
    }
    .search-icon {
        display: inline-block;
        width: 17px;
        height: 17px;
        background-image: url(../../static/images/email/search.png);
        background-repeat: no-repeat;
        background-size: 17px 17px;
        &:hover {
            cursor: pointer;
        }
    }
    // 历史邮件列表
    .history-list {
        position: absolute;
        width: 100%;
        left: 0;
        li {
            padding: 21px 20px 20px;
            position: relative;
            &:after {
                @include border-bottom;
            }
            &:last-child {
                &:after {
                    height: 0px;
                }
            }
            &.active {
                border-left: 2px solid $theme-color;
            }
            &:hover {
                cursor: pointer;
            }
        }
        img {
            height: 40px;
            vertical-align: middle;
        }
        div.table-cell {
            vertical-align: middle;
            font-size: 14px;
            &:first-child {
                width: 49px;
            }
            &:last-child {
                color: #868686;
                text-align: right;
                font-weight: bold;
            }
        }
        .name {
            color: $theme-font-color;
        }
        .position-name {
            color: #868686;
        }
    }
    .empty-area {
        margin-top: 150px;
    }
    // 右边编辑器容器
    .pull-right {
        overflow: hidden;
    }

    //人员信息历史记录列表
    .personInfo-list {
        overflow:auto;
        height:505px;
        border: 1px solid white;
        width: 850px;
        //margin-top: 10px;
        float:right;
        .list {
            li {
                position: relative;
                padding: 8px 0;
            }
            // 附件
            .attachments {
                border-top: 1px solid $border-color;
                a {
                    color: #a0a0a0;
                }
            }
        }
    }
    .ant-collapse {
        border: 0;
        background-color: transparent;
        .ant-collapse-item {
            margin-top: 10px;
            background-color: #FFF;
            border-bottom: 0;
            .ant-collapse-header {
                line-height: 66px;
                height: 66px;
                .arrow {
                    line-height: 68px;
                }
            }
        }
    }
    .ant-collapse-content {
        padding: 0 32px;
        .ant-collapse-content-box {
            padding-top: 0;
            padding-bottom: 10px;
        }
    }
    .header {
        .table-cell {
            &:first-child {
                width: 30px;
                &+div{
                    width: 48px;
                }
            }
        }
        img {
            width:40px;
            line-height: 40px;
            height: 40px;
            vertical-align: middle;
        }
    }
}