$theme-color: #0086c9;
$page-bg-color: #ebebeb;
$assist-color: #6b6b6b;
$theme-font-color: #4d4d4d;


// navbar
$navbar-active-color: #00699f;

// border
$border-color: #d5d5d5;

// 紧急任务按钮颜色
$mission-theme-color: #f5702d;

// 错误提示颜色
$error-color: #ff3131;